@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all-brandsimg{
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
    padding: 40px;
    gap: 20px;
}
.all-brandsimg img{
    height: 400px;
    width: 500px;
    border-radius: 10px;
    border: 2px wheat solid;
    box-shadow: 
    0 4px 10px rgba(0, 0, 0, 0.08),
    0 10px 25px rgba(0, 0, 0, 0.06);;
}