@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    gap: 85px;
    min-height: 30px;
}

.nav-bar{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-bar a {
    text-decoration: none;
    color: #1A1714;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-bar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;

    width: 0;
    height: 2px;
    background-color: #9A6B3F;

    transition: width 0.3s ease;
}

.nav-bar a:hover::after {
    width: 100%;
}

.nav-bar a:hover {
    color: #9A6B3F;
}
.search{
    height: 35px;
    width: 250px;
    border: 1px solid;
    border-color:#9A6B3F ;
    border-radius: 2px;
    cursor: pointer;
}
.search-sec{
    gap: 10px;
}
.favourite {
    position: relative;
    display: inline-flex;
    cursor: pointer;
}

.favourite input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.favourite svg {
    width: 26px;
    height: 26px;
    fill: transparent;
    stroke: #333;
    stroke-width: 1.5;
    transition: fill 0.2s, stroke 0.2s;
}


.favourite input:checked + svg {
    fill: red;
    stroke: red;
}

.favourite input:focus-visible + svg {
    outline: 2px solid #333;
    outline-offset: 4px;
}

.fa-magnifying-glass-minus{
    color: #1A1714;
}

.everything-cnt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: wheat;
    border-radius: 10px;
    padding: 40px;
    margin: 40px;
    
}
.contact-title{
    margin-bottom: 15px;
}
.contact-title h1{
    font-size: 50px;
    font-weight: bold;
}
.medium{
    display: flex;
    flex-direction: column;
}
.contact-email, .address, .contact-tel{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.fa-envelope, .fa-location-dot, .fa-phone{
    font-size: 40px;
    border-radius: 50%; 
}
.contact-content{
    gap: 50px;
}
.media{
    margin-top: 40px;
}
.contact-form{
    background-color: white;
    height: 350px;
    width: 380px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 15px;
}
.txt-needed{
    width: 300px;
    height: 30px;
    cursor: pointer;
}
.msg-needed{
    width: 300px;
    height: 70px;
    cursor: pointer;
}
.fa-facebook, .fa-twitter, .fa-instagram, .fa-linkedin-in, .fa-youtube, .fa-tiktok{
    font-size: 20px;
}
.sentbtn{
    height: 45px;
    width: 200px;
    border: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: #8b6335;
    margin-left: 50px;
    border-radius: 12px;
    cursor: pointer;
}
.sentbtn:hover{
    background-color: #7A512B;
}

.f-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: whitesmoke;
}
.news button{
    color: white;
}
.email{
    height: 35px;
    width: 300px;
}
.subscribe{
    background-color: black;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s ease;
}
.subscribe:hover {
    background-color: #9A6B3F;
}
.fa-facebook, .fa-twitter, .fa-instagram, .fa-linkedin-in, .fa-youtube, .fa-tiktok, .fa-linkedin{
    color: black;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}